#left3 {
				float: left;
				width: 30%;
				margin-right: 20px;
			}
			
			#left3 p {
				text-indent: 2em;
				padding: 10px;
				font-size: 16px;
				font-style: weiruanyahei;
			}
			
			
			ul,
			li {
				list-style: none;
			}
			
			.heartPic {
				width: 65%;
				height: 380px;
				auto 0 auto;
				float: right;
			}
			
			.heartPic ul {
				float: left;
				width: 680px;
			}
			
			.heartPic ul li {
				float: left;
				width: 80px;
				height: 50px;
				cursor: pointer;
			}
			
			.heartPic ul li.on {
				z-index: 99;
			}
			
			.heartPic ul li.on .in {
				position: relative;
				left: -50px;
				top: -50px;
				padding: 5px 5px 20px 5px;
				background: #666;
			}
			
			.heartPic ul li .pTxt {
				display: none;
				width: 100px;
				height: 15px;
				text-align: center;
				color: #fff;
				overflow: hidden;
			}
			
			.heartPic .showDiv {
				display: block;
			}